<!--
  Generated template for the FacilityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageName}}-page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    
        <img src="https://cdn.notonthehighstreet.com/fs/7c/ba/1282-9be0-45ea-bb95-21187e74a7eb/original_omg-birthday-hipster-card.jpg"/>
    
        <ion-card-content>
          <ion-card-title>
            {{pageName}}
          </ion-card-title>
          <p>{{pageName}}{{pageName}}{{pageName}}{{pageName}}{{pageName}}{{pageName}}
            {{pageName}} {{pageName}} {{pageName}} {{pageName}}, {{pageName}}{{pageName}}{{pageName}}{{pageName}}{{pageName}}..
          </p>
        </ion-card-content>
    
        <ion-item>
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
          {{pageName}}{{pageName}}
          <ion-badge item-end>9</ion-badge>
        </ion-item>
    
        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          {{pageName}}{{pageName}}
          <ion-badge item-end>260k</ion-badge>
        </ion-item>
    
      </ion-card>
</ion-content>
